<form method="POST" action="/artists">
    <label>Artist Name</label><input type="text" name="name"><br>
    <label>Artist Genre</label><input type="text" name="genre"><br>
    <input type="submit">
</form>